This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [26]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'qvb_rvkjYJxbTztsEsX_'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [27]:
# First, import the relevant modules
import pandas as pd
import numpy as np
import json
import requests
import quandl

In [28]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=qvb_rvkjYJxbTztsEsX_'

r = requests.get(url)
print(r)

<Response [200]>

In [29]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data = quandl.get("FSE/AFX_X", authtoken="qvb_rvkjYJxbTztsEsX_")
data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2000-06-07,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
2000-06-08,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
2000-06-09,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
2000-06-12,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
2000-06-13,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...
2020-11-25,111.4,111.4,110.1,110.1,NaN,294.0,32435.8,None,None,NaN
2020-11-26,111.3,112.0,110.5,111.6,NaN,254.0,28367.5,None,None,NaN
2020-11-27,111.0,111.5,109.5,111.2,NaN,155.0,17168.5,None,None,NaN
2020-11-30,111.0,113.6,111.0,112.1,NaN,315.0,35111.5,None,None,NaN
2020-12-01,112.2,112.2,111.5,112.0,NaN,51.0,5703.0,None,None,NaN

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [37]:
df = pd.DataFrame(data)
df.head()
df = df.reset_index()
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2000-06-07,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
1,2000-06-08,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
2,2000-06-09,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
3,2000-06-12,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
4,2000-06-13,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0

In [40]:
start_date = '2017-01-01'
end_date = '2017-12-31'
mask = (df.Date > start_date) & (df.Date <= end_date)
df_2017 = df.loc[mask]
df_2017

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
4286,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN
4287,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
4288,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
4289,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
4290,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4536,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,NaN
4537,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,NaN
4538,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,NaN
4539,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,NaN
4540,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,NaN

In [41]:
#3. Calculate what the highest and lowest opening prices were for the stock in this period.
min_price = df_2017['Open'].min()
max_price = df_2017['Open'].max()
print('The highest opening prices for the stock was', max_price, 'and the lowest was', min_price)

The highest opening prices for the stock was 53.11 and the lowest was 34.0

In [46]:
# 4. What was the largest change in any one day (based on High and Low price)?
df_2017['Max-i'] = df_2017['Open'].max() - df_2017['Open']
df_2017['Min-i'] = df_2017['Open'] - df_2017['Open'].min()
print('The highest change based on high and low price is', df_2017['Max-i'].max())

The higest change based on high and low price is 19.11

In [50]:
# 5. What was the largest change between any two days (based on Closing Price)?
df_2017['Max-i-c'] = df_2017['Close'].max() - df_2017['Close']
df_2017['Min-i-c'] = df_2017['Close'] - df_2017['Close'].min()
print('The highest change based on high and low price is', df_2017['Max-i-c'].max()/2)

The highest change based on high and low price is 9.515

In [48]:
# 6. What was the average daily trading volume during this year?
print('The average daily trading volume during this year is', round(df_2017['Traded Volume'].mean(), 2))

The average daily trading volume during this year is 89124.34